.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}
input:focus,input:active{
    outline: none;
    border: 2px solid purple;
}

label{
    font-size: 17px;
    color: rgb(77, 1, 77);
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
}
